<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="wrapper">
        <form method="post">
            <label>
                <input type="text" placeholder="dataset name" name="datasetName" required>
            </label>
            <label>
                <input type="text" placeholder="table name" name="tableName" required>
            </label>
            <label>
                <input type="text" placeholder="project id" name="projectId" required>
            </label>
            <label>
                <input type="text" placeholder="bucket name" name="bucketName" required>
            </label>
            <label>
                <input type="file" placeholder="file" name="file">
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>